@model Post


<form method="post" asp-action="DeletePOST">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Delete a post...</h2>
        </div>
        <div class="mb-3">
            <label asp-for="PostTitle" class="pb-3"></label>
            <br />
            <input asp-for="PostTitle" class="form-control" disabled />
            <span asp-validation-for="PostTitle" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PostBody" class="pb-3"></label>
            <br />
            <textarea asp-for="PostBody" class="form-control" style="resize:none" rows="10" disabled></textarea>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Delete Post</button>
        <a asp-controller="Blog" asp-action="Index" class="btn btn-secondary" style="width:150px">Back to list</a>
    </div>
</form>

